# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Environment
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Node
node_modules/

# Build
dist/
build/

# Coverage
.coverage
htmlcov/

# Docker
postgres-data/